<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <service
        android:name=".FcmMessagingService"
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
</manifest>
